.body {
	background-color: var(--mantine-color-gray-2);
	padding-top: 70px;
	padding-bottom: 55px;

	@media (min-width: $mantine-breakpoint-sm) {
		flex-direction: column;
	}

	@media (min-width: $mantine-breakpoint-md) {
		flex-direction: row;
	}
}
